* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}
body {
	height: 100vh;
	background: linear-gradient(135deg, #8052ec, #d161ff);
}
.wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.button-option {
	background: #ffffff;
	height: 100px;
	width: 100px;
	border: none;
	border-radius: 8px;
	font-size: 50px;
	color: #d161ff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.button-option.clicked {
	background: #ffffffda;
	height: 100px;
	width: 100px;
	border: none;
	border-radius: 8px;
	font-size: 50px;
	color: #d161ff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
#restart {
	font-size: 1.3em;
	padding: 1em;
	border-radius: 8px;
	background-color: #0a0027;
	color: #ffffff;
	border: none;
	position: relative;
	margin: 1.5em auto 0 auto;
	display: block;
}
.row {
	height: 100px;
	width: 300px;
}
.container {
	width: 400px; /* Adjust the width as needed */
	height: 100px; /* Adjust the height as needed */
	border: 15px solid white;
	border-radius: 15px; /* Set the border radius to create rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for a subtle effect */
	margin: 0 auto; /* Horizontally center the container */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
}
